element.style {
}
strong, b {
    font-weight: bold;
}
Style Attribute {
    text-align: left;
}
#wsite-title {
    font-family: Copperplate; sans-serif;
    font-size: 60px;
}

div {
  text-align: center;
}

h1 { font-size: 60px;
font-family: Copperplate; sans-serif;
font-weight: normal;}
